﻿@model BO.Models.Samourai
@using DojoWebApp.Extensions

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    @Html.Partial("_Details", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.PreviousPageLink("Samourais")
    </div>
    }
</div>
