﻿@model BO.Models.Samourai
@using DojoWebApp.Extensions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
   @Html.Partial("_Details", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |    
    @Html.PreviousPageLink("Samourais")
</p>
