﻿@model DojoWebApp.Models.CreateEditSamouraiViewModel
@using DojoWebApp.Extensions

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Samourai</h4>
        <hr />
        @Html.Partial("_CreateEdit", Model)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifier" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.PreviousPageLink("Samourais")
</div>
