﻿@model IEnumerable<DojoWebApp.Models.DetailSamouraiViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Force)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtMartiauxNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Potentiel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Force)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ArmeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ArtMartiauxNames)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Potentiel)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
