﻿@model IEnumerable<BO.Models.Chat>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", style = "margin-top:1rem;" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Couleur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Continent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Couleur)
    </td>
    <td>
        @string.Join(", ", item.Ingredients)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Continent.Nom)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success", style = "margin-right:.5rem" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "margin-right:.5rem" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", style = "margin-right:.5rem" })
    </td>
</tr>
    }

</table>
