﻿@{ 
    string toto = "Toto";

    ViewBag.Title = "Garage";
}

<p>
    Garage, page d'accueil de Monsieur @toto
</p>
<p>
    Nous sommes le @ViewBag.DateDuJour
</p>

@{ 

    toto = "Titi";
}

<p>
    Hello monsieur @toto
</p>

@section menuliste {
    <li style="color:white;">Nouvel item depuis l'enfant</li>
}

@section scripts {

<script>
    alert('toto');
    </script>    
}